html,
body {
  height: 100%;
}

body {
  background-color: #152215;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
}
input  {
  margin: 10px;
}
.paper {
  background-color: #f2f2cc;
}
.paper:focus {
  background-color: #ffffdd;
}

.left-panel {
    display: inline-block;
    background-color: #556655;
    width: 350px;
    height: 100vh;
    position: fixed;
}


.main {
    display: inline-block;
    margin-left: 350px;
    width:100%
}
