<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Ticketing tool"/>
    <link rel="manifest" href="/manifest.json"/>
    <title>Ticketree</title>
    <link href="/static/css/main.a6d6a60a.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root">
    <main class="form-signin w-100 m-auto">
          <form method="post">
            <input type="text" id="form-username" name="username" class="form-control paper" placeholder="Your name"/>
            <input type="password" id="form-password" name="password" class="form-control paper" placeholder="Password"/>
            <input type="submit" value="Login" class="w-100 btn btn-lg btn-success" />
            <input type="hidden" name="csrf" value="{{ csrf }}"/>
          </form>
    </main>
</div>
</body>
</html>