<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="/static/tickets.js"></script>
    <link href="/static/style.css" rel="stylesheet"/>
</head>
<body>
<div class="left-panel">
    <h1>Ticket title</h1>
    <h5 class="badge bg-secondary">Open</h5>
    <h5 class="badge bg-secondary">In progress</h5>
    <h5 class="badge bg-secondary">Done</h5>
    <h5 class="badge bg-secondary">Canceled</h5>
    <p>Full Description</p>
</div>
<div class="main">
    {% for item in tickets.values() %}
    <div class="kanban-row">
        {% for son in item %}
        <div class="ticket-container depth-{{ son.depth }}">
            <div class="ticket paper" onclick="panel_select(this);">
                <h6 class="ticket-title">{{ son.title }}</h6>
                <span class="badge bg-primary status">{{ son.status }}</span>
                <div class="ticket-desc assignee">{{ son.assignee or ''}}</div>
                <div class="ticket-desc owner">{{ son.owner_id }}</div>
                <div class="ticket-desc organization">{{ son.organization or ''}}</div>
                <div class="ticket-desc parent_id">{{ son.parent_id or ''}}</div>
                <div class="ticket-desc description">{{ son.description }}</div>
                <div class="ticket-id hidden">{{ son.ticket_id }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

</body>
</html>