
body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #152215;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
}
input  {
  margin: 10px;
}
.paper {
  background-color: #f2f2cc;
}
.paper:focus {
  background-color: #ffffdd;
}

.main {
    display: inline-block;
    width:100%
}



table tr {
    border: 1px solid #888888;
    height: 30px;
    border-radius: 8px;
}

table .title {
    padding: 0 10px;
}

table .title h5 {
    max-width: calc(80vw - 300px);
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    line-height: 1.8em;
    margin:0
}
table .icons{
    width: 100px;
}

.tickets-table {
    margin-left: calc(6vw + 180px);
    max-width: calc(90vw - 190px);
    max-height: 80vh;
    overflow-x: auto;
    display: inline-block;
}

.pane-left {
    background-color: #081408;
    width: calc(5vw + 180px);
    height: 88vh;
    color: #f2f2cc;
    box-shadow: 3px 3px 3px black;
    display:inline-block;
    position:absolute;
}
.align-center {
    text-align:center;
}

.status-group {
    display: inline-block;
    border-radius: 5px;
    background-color: #445544
}

.status-badge {
   text-align:center;
   padding: 4px;
   box-sizing: border-box;
   height: 38px;
   width: 90px;
   display: inline-block;
}