
body {
  align-items: center;
  margin:0;
  background-color: #152215;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
}

.paper {
  background-color: #f2f0cc;
  color:black;
}
.ticket-paper {
  background-color: #335533;
  color: #f2f0cc;
}

.paper:focus {
  background-color: #ffffdd;
}

.main {
    display: inline-block;
    width:100%
}

.ticket-row {
    border-radius: 4px;
    box-sizing: border-box;
    height: 46px;
    margin-bottom:4px;
    display:flex;
}

img {
    width: 24px;
    height: 24px;
    overflow:hidden;
}

.sons-container {
    max-height: 20vh;
    overflow-y: auto;
}

.ticket-row .title {
    flex: 1;
    padding: 0 10px;
}

.ticket-icon {
    flex: none;
    width: 40px;
}

.ticket-row .title h5 {
    max-width: calc(86vw - 260px);
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    line-height: 50px;
    margin:0;
}
.ticket-row .icons{
    width: 50px;
}

.ticket-row img{
    margin-top: 10px;
    margin-left: 10px;
}

.icons{
    align-self:right;
}

.ticket-row-mini {
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 3px;
    display: flex;
}

.ticket-row-mini span{
    line-height: 22px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    flex: 1;
}

.ticket-row-mini img {
    margin-top: 3px;
}

.tickets-table {
    margin-left: calc(14vw + 140px);
    max-width: calc(82vw - 150px);
    max-height: calc(70vh - 100px);
    overflow-x: auto;
}

.filter-pane {
    background-color: #081408;
    margin-left: calc(14vw + 140px);
    max-width: calc(82vw - 150px);
    margin-bottom: 1vh;
    height: 30px;
    padding: 10px;
    color: #f2f0cc;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    display: flex;
}

.filter-pane div span{
    display: flex;
    flex: 1;
}

.filter-pane input[type=text] {
    height: 20px
}

.filter-pane div span *{
    margin: 0 5px;
    line-height: 30px;
}

.filter-pane div {
    display: flex;
}

.search-input {
    background: #f2f0cc;
    border-radius: 3px;
}

.filter-pane div img {
    width: 24px;
    height: 24px;
    overflow:hidden;
}

.title-mini {
    line-height: 30px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.flexbtn {
    flex: none;
    width: 40px;
}
.flex1 {
    flex: 1;
}

.flex {
    display: flex
}

.flex *{
    flex: 1
}

.add-ticket{
    border: 3px dashed #f2f0cc;
    color: #f2f0cc;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

.add-ticket h4, .add-ticket span{
    text-align: center;
    width: 100%;
}

.add-ticket h4 {
    line-height: 40px;
}

.pane-left div {
    margin: 3px 0;
}

.pane-left {
    padding: 8px;
    border-bottom-right-radius: 5px;
    background-color: #081408;
    width: calc(12.5vw + 140px);
    height: 88vh;
    color: #f2f0cc;
    box-shadow: 3px 3px 3px black;
    display:flex;
    flex-direction: column;
    position:absolute;
}
.align-center {
    text-align:center;
}

.status-group {
    display: flex;
    border-radius: 5px;
    background-color: #445544
}

.status-badge {
   text-align:center;
   padding: 4px;
   box-sizing: border-box;
   line-height: 26px;
   height: 34px;
   width: 90px;
   display: inline-block;
}

.edit-text {
    background-color: rgba(0,0,0,0);
    resize: none;
    border-width: 0px;
    color: #f2f0cc;
    width: 100%;
}

.pane-title {
    flex: 1;
    font-size: 1.1em
}

.pane-description {
    flex: 3;
    font-size: 0.92em
}

.navbar {
    background-color: #020802;
    width: 100%;
    height: 50px;
    display: flex;

}
.navbar a {
    flex: 1;
    max-width: 100px;
    line-height: 48px;
    border: 2px solid #254425;
    margin-right: -2px;
    color: #f2f0cc;
    text-align: center;
}

button {
    cursor: pointer;
}

* {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: normal;
}
h5, h4, h3, h2, h1 {
    margin: 0;
}

.user-badge {
    border-radius: 12px;
    display: inline-block;
    padding: 0 12px;
    line-height: 24px;
}

.user-badge input {
    background-color: rgba(0,0,0,0);
    border: 0px;
}