html,
body {
  height: 100%;
}

body {
  background-color: #152215;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
}
input  {
  margin: 10px;
}
.paper {
  background-color: #f2f2cc;
}
.paper:focus {
  background-color: #ffffdd;
}

.left-panel {
    display: inline-block;
    background-color: #556655;
    width: 350px;
    height: 100vh;
    position: fixed;
}


.main {
    display: inline-block;
    margin-left: 350px;
    width:100%
}

.ticket-container {
  width: 170px;
  box-sizing:border-box;
  display: inline-block;
  vertical-align: top;

}
.depth-1 {
    padding-top: 25px;
}
.depth-2 {
    padding-top: 50px;
}

.ticket {
  width: 150px;
  height: 100px;
  padding: 5px;
  box-shadow: 5px 5px 5px black;
  box-sizing:border-box;
}


.depth-3 {
    margin-top: 30px;
}

.kanban-row {
  padding: 20px 10px;
  background-color: #101810;
  display: block;
  margin: 10px 5px;
}
.ticket-title {
  font-size: 1em;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3;
}
.ticket-desc {
  display: -webkit-box;
  font-size: 0.8em;
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
