ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

li {
    border: 1px solid #888888;
}

li h5 {
    margin: 4px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    width: 80%;
}

.app {
    width: 60%;
    margin-left: 20%;
}